{% load static from staticfiles %}

<div id="variables_list">
  <div class="navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control search-query" placeholder="Search" name="q" data-bind="value: query" >
        </div>
        <div class="col-md-6">
          <button class="btn btn-default" data-bind="click: topClick">Top</button>
          <button class="btn btn-default" data-bind="click: clearClick">Clear</button>
          <ul id="prefix" class="nav">
          </ul>
        </div>
      </div>
      </div>
  </div>
  <table id="var-table" class="table">
    <tbody data-bind="foreach: candidates">
      <tr>
        <td data-bind="text: label">
        </td>
        <td style="text-align: right;">
            <!-- ko ifnot: path().endsWith('/') -->
            <button class="btn btn-primary" data-bind="click: addVariableClick">Add</button>
            <!-- /ko -->
            <!-- ko if: path().endsWith('/') -->
            <button class="btn btn-default" data-bind="attr: {href: path}, click: downNodeClick">&nbsp;&gt;&gt;&nbsp;</button>
            <!-- /ko -->
        </td>
        </tr>
    </tbody>
  </table>
</div>
<div id="color-picker-container" class="picker-container">
  <div id="color-picker" class="picker">
    <table>
      <tbody>
        <tr>
          <td class="red-on-black">
            <a href="#" class="btn btn-default on-black red-wave">Red</a>
          </td>
          <td class="green-on-black">
            <a href="#" class="btn btn-default on-black green-wave">Green</a>
          </td>
          <td class="blue-on-black">
            <a href="#" class="btn btn-default on-black blue-wave">Blue</a>
          </td>
        </tr>
        <tr>
          <td class="white-on-black">
            <a href="#" class="btn btn-default on-black white-wave">White</a>
          </td>
          <td class="purple-on-black">
            <a href="#" class="btn btn-default on-black purple-wave">Purple</a>
          </td>
          <td class="green-on-white">
            <a href="#" class="btn btn-default on-white green-wave">Green</a>
          </td>
        </tr>
        <tr>
          <td class="green-on-white">
            <a href="#" class="btn btn-default on-white green-wave">Green</a>
          </td>
          <td class="blue-on-white">
            <a href="#" class="btn btn-default on-white blue-wave">Blue</a>
          </td>
          <td class="black-on-white">
            <a href="#" class="btn btn-default on-white black-wave">Black</a>
          </td>
        </tr>
      </tbody>
    </table>
    <button href="#" class="btn btn-default cancel">Cancel</button>
  </div>
</div>
<div id="shape-picker-container" class="picker-container">
  <div id="shape-picker" class="picker">
    <table>
      <tbody>
        <tr>
          <td class="bin"><a href="#" class="btn btn-default">bin</a></td>
          <td class="dec"><a href="#" class="btn btn-default">dec</a></td>
        </tr>
        <tr>
          <td class="hex"><a href="#" class="btn btn-default">hex</a></td>
          <td class="analog"><a href="#" class="btn btn-default">step</a></td>
        </tr>
      </tbody>
    </table>
    <button href="#" class="btn btn-default cancel">Cancel</button>
  </div>
</div>

<div></div>

<div id="{{waveform_id}}" class="browser-panel">
  <div class="variables-header">
    <!-- edit button and slider -->
    <div class="variables-row">
      <div class="variables-panel tools-timeruler-block">
        <div>
          <a class="btn btn-default variables-edit-tools-toggle" href="#">Edit</a>
        </div>
      </div>
      <div class="edit-waveforms-panel">
        <div class="edit-panel">
          <div class="tools-timeruler-block">
            <button id="removeToggle" class="btn btn-default" data-bind="click: toggleRemoveButtonClick">Remove</button>
          </div>
        </div>
        <div id="slider" class="sliding-range tools-timeruler-block"
           data-bind="slider: { disp_start_time: disp_start_time,
                                disp_end_time: disp_end_time,
                                width: disp_width },
                      jqueryui: { widget: 'slidingWindow',
                                  options: { disp_start_time: disp_start_time(),
                                             disp_end_time: disp_end_time(),
                                             width: disp_width() } }">
          <div class="ui-slider-track ui-btn-down-c ui-btn-corner-all">
            <div class="ui-ruler-disp-track">
              <a href="#" class="btn btn-default ui-slider-handle ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c" style="left: 0%;"></a>
              <a href="#" class="btn btn-default ui-slider-handle ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c" style="left: 100%;"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- timer ruler inputs and tick bar -->
    <div class="variables-row">
      <div class="variables-panel tools-timeruler-block">
        <div class="timeruler-input">
          <input id="start_time" type="number" placeholder="From"
                 title="seek to a particular time (in time units)"
                 data-bind="value: disp_start_time" />
        </div>
        <div class="timeruler-input">
          <input id="end_time" type="number" placeholder="To"
                 title="end of display window (in time units)"
                 data-bind="value: disp_end_time" />
        </div>
      </div>
      <div class="edit-waveforms-panel">
        <div class="edit-panel">
        </div>
        <div class="timeruler tools-timeruler-block"
             data-bind="jqueryui: { widget: 'timeruler',
                            options: { disp_start_time: disp_start_time(),
                                       disp_end_time: disp_end_time(),
                                       width: disp_width() } }">
        </div>
      </div>
    </div>
  </div>

  <div class="variables-container" data-bind="foreach: variables">
    <div class="variables-row">
      <!-- That's where variable names will be added. -->
      <div class="variables-panel var-wave-block" data-bind="style: style">
        <div data-bind="text: label">
        </div>
      </div>
      <div class="edit-waveforms-panel">
        <!-- That's where per variable tools will be added. -->
        <div class="edit-panel var-wave-block" data-bind="style: style">
          <div data-bind="visible: !$parent.showRemoveButton()">
            <div>
              <a href="#" class="btn-edit-shape"
                 data-bind="click: updateShapeClick">
                <img class="btn btn-default btn-img-box"
                     src="{% static 'img/glyphicons_030_pencil.png' %}" />
              </a>
            </div>
            <div>
              <a href="#" class="btn-edit-color"
                 data-bind="click: updateColorClick">
                <img class="btn btn-default btn-img-box"
                     src="{% static 'img/glyphicons_090_eyedropper.png' %}" />
              </a>
            </div>
            <div>
              <a class="btn-edit-list" data-bind="draggable: { revert: 'invalid' }, droppable: { accept: '.btn-edit-list', drop: updateRankDrop}">
                <img class="btn btn-default btn-img-box"
                     src="{% static 'img/glyphicons_114_list.png' %}" />
              </a>
            </div>
        </div>
          <button class="btn btn-danger" data-bind="visible: $parent.showRemoveButton, click: removeVariableClick">Remove</button>
        </div>
        <!-- That's where waveforms are added.
             We prefix the id by "wave" since d3.select would throw
             an illegal name exception if we were to use "#1" as an id. -->
        <div class="var-wave-block"
             data-bind="style: style,
                        jqueryui: { widget: 'waveform',
                                    options: { shape: shape(),
                                               path: path(),
                                    disp_start_time: $parent.disp_start_time(),
                                    disp_end_time: $parent.disp_end_time(),
                                    width: $parent.disp_width() } }"
             style="display: inline-block;">
        </div>
      </div>
    </div>
  </div>
</div>
