{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block localheader %}
  <link rel="stylesheet" media="screen" href="{% static 'vendor/css/bootstrap.css' %}" />
  <link rel="stylesheet" media="screen" href="{% static 'vendor/css/bootstrap-responsive.css' %}" />
  <link rel="stylesheet" media="screen" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" media="screen" href="{% static 'css/wavebrowser.css' %}" />
<!--  <script src="{% static 'vendor/js/modernizr-2.6.2.min.js' %}"></script> -->
{% endblock %}

{% block menubar %}
<div class="container">
  <div class="row">
    <div class="span4">
      <a href="http://fortylines.com/"><img src="{% static 'img/donny.png' %}"></a>
    </div>
    <div class="span8">
      <h1 class="menubar-title">{{ title }}</h1>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div id="variables_list">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><input type="text" class="span6 search-query" style="margin-top: 10px;margin-right: 5px;" placeholder="Search" name="q" data-bind="value: query" ></li>
          <li><button class="btn" data-bind="click: topClick">Top</button></li>
          <li><button class="btn" data-bind="click: clearClick">Clear</button></li>
        </ul>
        <ul id="prefix" class="nav">
        </ul>
      </div>
    </div>
    <table class="table table-striped">
      <tbody data-bind="foreach: candidates">
        <tr>
          <td data-bind="text: label">
          </td>
          <td style="text-align: right;">
            <!-- ko ifnot: path().endsWith('/') -->
            <button class="btn btn-primary" data-bind="click: addVariableClick">Add</button>
            <!-- /ko -->
            <!-- ko if: path().endsWith('/') -->
            <button class="btn" data-bind="attr: {href: path}, click: downNodeClick">&nbsp;&gt;&gt;&nbsp;</button>
            <!-- /ko -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div id="color-picker-container" class="picker-container">
      <div id="color-picker" class="picker">
        <table>
          <tbody>
          <tr>
            <td class="red-on-black">
              <a href="#" class="btn on-black red-wave">Red</a>
            </td>
            <td class="green-on-black">
              <a href="#" class="btn on-black green-wave">Green</a>
            </td>
            <td class="blue-on-black">
              <a href="#" class="btn on-black blue-wave">Blue</a>
            </td>
          </tr>
          <tr>
            <td class="white-on-black">
              <a href="#" class="btn on-black white-wave">White</a>
            </td>
            <td class="purple-on-black">
              <a href="#" class="btn on-black purple-wave">Purple</a>
            </td>
            <td class="green-on-white">
              <a href="#" class="btn on-white green-wave">Green</a>
            </td>
          </tr>
          <tr>
            <td class="green-on-white">
              <a href="#" class="btn on-white green-wave">Green</a>
            </td>
            <td class="blue-on-white">
              <a href="#" class="btn on-white blue-wave">Blue</a>
            </td>
            <td class="black-on-white">
              <a href="#" class="btn on-white black-wave">Black</a>
            </td>
          </tr>
          </tbody>
        </table>
        <button href="#" class="cancel btn">Cancel</button>
      </div>
    </div>
    <div id="shape-picker-container" class="picker-container">
      <div id="shape-picker" class="picker">
        <table>
          <tbody>
          <tr>
            <td class="bin"><a href="#" class="btn">bin</a></td>
            <td class="dec"><a href="#" class="btn">dec</a></td>
          </tr>
          <tr>
            <td class="hex"><a href="#" class="btn">hex</a></td>
            <td class="analog"><a href="#" class="btn">step</a></td>
          </tr>
          </tbody>
        </table>
        <button href="#" class="cancel btn">Cancel</button>
      </div>
    </div>

    <div></div>
    <div id="{{waveform_id}}" class="browser-panel">
      <div class="variables-panel">
        <div class="variable-list-edit-tools tools-timeruler-block">
          <a class="variables-edit-tools-toggle btn" href="#">Edit</a>
        </div>
        <div class="timeruler-input-group tools-timeruler-block">
          <div class="timeruler-input">
            <input id="start_time" type="number" placeholder="From"
                   title="seek to a particular time (in time units)"
                   data-bind="value: disp_start_time" />
          </div>
          <div class="timeruler-input">
            <input id="end_time" type="number" placeholder="To"
                   title="end of display window (in time units)"
                   data-bind="value: disp_end_time" />
            </div>
        </div>
        <!-- That's where variable names will be added. -->
        <div class="variables-container" data-bind="foreach: variables">
          <div class="var-wave-block"
               data-bind="style: style">
            <div data-bind="text: label">
            </div>
          </div>
        </div>
      </div>
      <div class="edit-waveforms-panel">
        <div class="edit-panel">
          <div class="tools-timeruler-block">
            <button id="removeToggle" class="btn" data-bind="click: toggleRemoveButtonClick">Remove</button>
          </div>
          <div class="tools-timeruler-block">
          </div>
          <!-- That's where per variable tools will be added. -->
          <div class="variables-edit-tools-container"
               data-bind="foreach: variables">
           <div class="var-wave-block" data-bind="style: style">
             <div data-bind="visible: !$parent.showRemoveButton()">
               <div>
                 <a href="#" class="btn-edit-shape btn" data-bind="click: updateShapeClick">
                   <img class="btn-img-box" src="{% static 'vendor/img/glyphicons_030_pencil.png' %}" />
                 </a>
               </div>
               <div>
                 <a href="#" class="btn-edit-color btn" data-bind="click: updateColorClick">
                   <img class="btn-img-box" src="{% static 'vendor/img/glyphicons_090_eyedropper.png' %}" />
                 </a>
               </div>
               <div>
                 <a class="btn-edit-list btn" data-bind="draggable: { revert: 'invalid' }, droppable: { accept: '.btn-edit-list', drop: updateRankDrop}">
                   <img class="btn-img-box" src="{% static 'vendor/img/glyphicons_114_list.png' %}" />
                 </a>
               </div>
             </div>
             <button class="btn btn-danger" data-bind="visible: $parent.showRemoveButton, click: removeVariableClick">Remove</button>
           </div>
          </div>
        </div>
        <div class="waveforms-panel">
          <div id="slider" class="sliding-range tools-timeruler-block"
               data-bind="slider: { disp_start_time: disp_start_time,
                                    disp_end_time: disp_end_time,
                                    width: disp_width },
                          jqueryui: { widget: 'slidingWindow',
                            options: { disp_start_time: disp_start_time(),
                                       disp_end_time: disp_end_time(),
                                       width: disp_width() } }">
            <div class="ui-slider-track ui-btn-down-c ui-btn-corner-all">
              <div class="ui-ruler-disp-track">
                <a href="#" class="btn ui-slider-handle ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c" style="left: 0%;"></a>
                <a href="#" class="btn ui-slider-handle ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c" style="left: 100%;"></a>
              </div>
            </div>
          </div>
          <div class="timeruler tools-timeruler-block"
               data-bind="jqueryui: { widget: 'timeruler',
                            options: { disp_start_time: disp_start_time(),
                                       disp_end_time: disp_end_time(),
                                       width: disp_width() } }">
          </div>
          <!-- That's where waveforms are added.
            We prefix the id by "wave" since d3.select would throw
            an illegal name exception if we were to use "#1" as an id. -->
          <div class="waveforms-container"
               data-bind="foreach: variables">
            <div class="var-wave-block"
                 data-bind="style: style,
                       jqueryui: { widget: 'waveform',
                         options: { shape: shape(),
                                    path: path(),
                                    disp_start_time: $parent.disp_start_time(),
                                    disp_end_time: $parent.disp_end_time(),
                                    width: $parent.disp_width() } }">
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/js/jquery-1.9.1.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/js/jquery-ui-1.9.2.custom.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/js/jquery.ui.touch-punch.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/js/d3.v3.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/js/knockout-2.2.1.js' %}" type="text/javascript"></script>
<script src="{% static 'js/wavebrowser.js' %}" type="text/javascript"></script>
<script type="text/javascript">
/* Dynamically add variables in the DOM when the document is ready. */
$(document).ready(function() {
    initWaveBrowserWhenDocumentReady("{{csrf_token}}", {{variable_list|safe}});
});
</script>
{% endblock %}
